USE [upt_TrabajoInspectores]
GO
/****** Object:  StoredProcedure [dbo].[usp_S_ObtenerUsuarioPorUsuario]    Script Date: 26/05/2025 12:13:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_S_ObtenerUsuarioPorUsuario]
(
    @Usuario VARCHAR(300)
)
AS
BEGIN
    SELECT *
    FROM tbUsuariosPrograma
    WHERE Usuario = @Usuario
END