USE [upt_TrabajoInspectores]
GO
/****** Object:  StoredProcedure [dbo].[ups_S_BuscarInspectoresPorIdONombre]    Script Date: 26/05/2025 12:13:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ups_S_BuscarInspectoresPorIdONombre]
    @filtro NVARCHAR(100)
AS
BEGIN
    SELECT * 
    FROM tbInspectores  -- Cambiado aquí
    WHERE CAST(id_inspector AS NVARCHAR) LIKE '%' + @filtro + '%'
       OR nombre LIKE '%' + @filtro + '%'
END
