USE [upt_TrabajoInspectores]
GO
/****** Object:  StoredProcedure [dbo].[usp_I_AuditoriaInspector]    Script Date: 26/05/2025 12:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_I_AuditoriaInspector]
(
    @IdInspectorUsuario INT,
    @IdInspectorModificado INT,
    @Accion VARCHAR(255),
    @Usuario VARCHAR(100),
    @Fecha DATETIME
)
AS
BEGIN
    INSERT INTO dbo.tbAuditoriaInspectores 
        (IdInspectorUsuario, IdInspectorModificado, Accion, Usuario, Fecha)
    VALUES 
        (@IdInspectorUsuario, @IdInspectorModificado, @Accion, @Usuario, @Fecha);
END
